
/* Moblie Layout */

@media only screen and (max-width: 430px) {

    /* Navbar Part Start */

    .navbar-brand {
        font-size: 25px !important;
        margin: 5px 5px;
    }

    /* Top Part */

    .Top_part {
        background-position: center;
    }

    .Top_part_left li {
        margin-right: 0px;
        font-size: 14px;
    }
    
    /* Sponsors Part */

    .Sponsors_Part_image li {
        padding: 10px 25px;
    }

    /* Design & Style Part */

    .Design_Style_left img {
        width: 100%;
        left: 0px;
    }

    .Design_Style_Right h1 {
        font-size: 28px;
        padding-right: 0px;
    }

    .Design_Style_Right p {
        padding-right: 0px;
    }

    /* Porjects Completed Part */


    .Porject_section {
        padding: 80px 0;
    }

    .Porjects li {
        padding: 0 0 0 55px;
        float: left;
    }

    /* Image Part */

    .Latest_work_Image img {
        margin-bottom: 30px;
    }

    /* Register Your Today Attendance Today  */
    
    .Register_Right {
        margin-right: 30px;
    }

    #inner {
        width: 370px;
    }

    .Register_Right select {
        width: 370px;
    }

    .register_submit {
        width: 370px;
    }

    /* Swiper */

    .swiper_text {
        height: 100px;
    }

    .swiper_text p {
        font-size: 15px;
    }

    .swiper_text i {
        font-size: 15px;
    }

    /* Amazing_Services */


    .Amazing_icon {
        font-size: 40px;
        left: 0px;
        top: -5px;
    }

    .Amazing_Services_Bottom {
        margin-top: 0px;
        padding-left: 60px;
    }

    .Amazing_Services_Bottom p {
        padding-right: 0px;
        font-size: 14px;
    }

    /* Our Latest News */

    .Our_News_Text p {
        padding-right: 0px;
    }

    /* Founder Freelancer */

    
    .Freelancer_left {
        border-right: 0px solid;
        margin-right: 25%;
        padding-right: 0px;
    }

    .Freelancer_left_Photo img {
        right: 14%;
        top: -100px;
    }

    .Freelancer_left p {
        margin-top: 100px;
        margin-right: 12px;
    }

    .Freelancer_left h6 {
        padding-bottom: 15px;
        margin: 0px 20px 0 0;
    }

    .Freelancer_Right p {
        padding: 0;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }


    /* Video Presentation */

    .video_area {
        margin-bottom: 70px;
    }

    .Video_left iframe {
        height: 400px;
    }

    .Video_right h2 {
        padding-top: 0px;
    }

    /* Design & style */

    .design_style_right img {
        width: 100%;
        height: auto;
        padding-top: 20px;
    }

}


